.sc_recipe {

  .sc_recipe__head {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 1em;
  }


  @media (max-width: 767px) {
    .sc_recipe__head {
      grid-template-columns: 1fr;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 2em;
    margin-bottom: .5em;
  }

  .sc_recipe__head--figure {
    margin: 0;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      margin: 0;
    }
  }

  .sc_recipe__print {
    margin: 1em 0;

    .sc_recipe__printButton {
      background-color: black;
      color: white;
      border-radius: $border-radius;
      padding: $main-unit * .75;
      font-size: $main-unit * 1;
      border: none;
      position: relative;
      cursor: pointer;
      width: 100%;
      display: block;
      text-align: center;
    }
  }

  .sc_recipe__divider {
    margin: 1.5em 0;
    border: none;
    border-bottom: 1px solid #ddd;
  }

  .sc_recipe__times, .sc_recipe__meta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    text-align: center;
  }

  @media (max-width: 767px) {
    .sc_recipe__times, .sc_recipe__meta {
      grid-template-columns: 1fr;
    }
  }

  .sc_recipe__times--label, .sc_recipe__meta--label {
    display: block;
    font-weight: bold;
    margin-bottom: .75em;
  }

  .sc_recipe__instructions--figure {
    margin: .5em 0 1em 0;
    line-height: 0;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      margin: 0
    }
  }

  .sc_recipe__ingredients--checklist {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 0 1em 0 !important;

    li {
      margin-bottom: .5em;
      position: relative;
      padding-left: 0;

      input[type="checkbox"] {
        display: none;
      }

      input[type="checkbox"]:checked + label:before {
        border-color: black;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMCAyMCI+PHBhdGggZD0iTTAgMTFsMi0yIDUgNUwxOCAzbDIgMkw3IDE4eiIvPjwvc3ZnPgo=");
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
      }

      label {
        cursor: pointer;
        display: inline-block;
        margin: 0;
        padding-left: 1.5em;
        position: relative;

        &:before {
          content: '';
          display: block;
          width: 1em;
          height: 1em;
          border: 1px solid #ddd;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }


  .sc_recipe__video--oembed {
    aspect-ratio: 16 / 9;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    padding-top: 56.25%;

    & > iframe {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    /* if aspect-ratio is supported */
    @supports (aspect-ratio: 16/9) {
      padding-top: 0 !important;

      & > iframe {
        position: static;
      }
    }
  }

  .sc_recipe__video video {
    width: 100%;
    height: auto;
  }

  .sc_recipe__nutrition--heading,
  .sc_recipe__video--heading,
  .sc_recipe__instructions--heading,
  .sc_recipe__ingredients--heading {
    font-size: 1.125em;
    margin-bottom: .5em;
    font-weight: bolder;
  }

}
