@import "common";

/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */


.editor-styles-wrapper {

  .sc_multi-wrapper {
    background: #f5f5f5;
    padding: 16px;
    border-radius: $border-radius;

    .sc_card {
      margin: $main-unit auto 0;
    }
  }

  a.sc_info-label {
    background: $light-green;
    border-radius: $border-radius;
    padding: $main-unit * .25;
    font-size: $main-unit * .875;
    line-height: $main-unit * 1.125;
    color: $green;
    padding-left: $main-unit * 1.5;
    display: block;
    position: relative;
    text-decoration: none;

    svg {
      width: $main-unit;
      height: $main-unit;
      display: inline-block;
      fill: $green;
      position: absolute;
      left: $main-unit * .25;
      top: $main-unit * .25;
    }
  }

  button {
    &.sc_button {
      background-color: black;
      color: white;
      border-radius: $border-radius;
      padding: $main-unit * .5;
      font-size: $main-unit * .75;
      border: none;
      position: relative;
      cursor: pointer;
      width: 100%;
      margin-top: $main-unit;

      &.no-margin-top {
        margin-top: 0;
      }

      &.delete {
        border-radius: 100%;
        position: absolute;
        width: $main-unit * 2.25;
        height: $main-unit * 2.25;
        top: -1.5em;
        right: -1.5em;
      }

      .icon-span {
        display: inline;
        margin-right: $main-unit * .5;

        svg {
          width: $main-unit * .75;
          height: $main-unit * .75;
          position: relative;
          top: 1px;
          fill: white;
        }
      }

      &.inline {
        margin-left: $main-unit * .5;
        margin-top: 0;
        width: auto;
        float: right;
        z-index: 9;

        .icon-span {
          margin-right: 0;
        }
      }

    }

    &.sc-tab-nav__button {
      background: transparent;
      border: none;
      color: $black;
      padding: $main-unit * .75;
      font-size: $main-unit * .75;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      margin-right: 0;
      width: 50%;
      position: relative;

      &:focus {
        border-color: var(--wp-admin-theme-color);
        box-shadow: 0 0 0 1px var(--wp-admin-theme-color);
        outline: 2px solid transparent;

      }

      &.active {
        border-bottom: 2px solid $black;
        background: white;
      }
    }
  }

  .sc-tab-content {
    background: white;
    border: 1px solid #dedddd;

    padding: 1rem;

    .sc-tab-content__tab {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .sc-tab-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: #dedddd;
  }

  .sc_input-group fieldset {
    padding: 0;
    border: 0;
    margin: 0;
  }

  .sc_toggle-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &.single {
      justify-content: flex-end;
    }

    > * {
      cursor: pointer;
    }
  }

  .sc_card {
    .image-wrapper {
      height: auto;
      background: white;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px, rgba(0, 0, 0, 0.08) 0px 0px 1px;
      border-radius: $border-radius;
      max-width: 100%;
      width: auto;
      overflow: hidden;
      margin-bottom: $main-unit * .75;

      img {
        width: auto;
        height: auto;
        max-width: 100%;
        margin: 0;
      }
    }
  }

  .sc_row {
    .sc_row {
      align-items: end;
    }
  }

  .sc_focusable:focus {
    outline: none;
    box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
  }


  .sc_white-box {
    background: #fff;
    border-radius: $border-radius;
    padding: $main-unit;
    border: 1px solid #dedddd;
  }

  .sc_recipe-image__wrapper {
    width: calc(100% + 2em);
    margin: 1em -1em;
    height: 15em;

    button.sc_button.delete {
      right: 1em;
      top: 1em;
    }

    .sc_fs_recipe__figure {
      margin: 0;
      width: 100%;
      height: 100%;
      position: relative;

      img {
        margin: 0;
        object-fit: cover;
        max-width: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-position: center;
      }
    }
  }

  .sc_recipe-image-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;

    .sc_button {
      margin: 0;
      width: auto;
    }
  }

  .visibleButton {
    all: unset;
    cursor: pointer;
    display: inline-block;
    line-height: 1;

    svg {
      width: 1.5em;
      height: 1.5em;
    }
  }

}

